<?if($a['type']==1):?>

	<p>Наложенный платеж доступен только при доставке почтой России.</p>

<?elseif($a['type']==2):?>

	<p class="nalog_cost_line">Дополнительные расходы на доставку наложенным платежом: <b><?=$a['cost'];?></b> руб.</p>
	<p>Оплата заказа происходит на почте в момент его получения. Услуги почты по переводу денег за заказы наложенным платежом составляют 28% от суммы заказа. Соответственно, сумма Вашего заказа увеличится на 28% для оплаты расходов по переводу денег. Выбирая другой способ оплаты, Вы экономите практически треть от суммы заказа.</p>

<?elseif($a['type']==3):?>

	<p>Вы превысили установленную для Вас максимальную сумму для заказа наложенным платежом в <?=$a['max_nalog'];?> руб. Поэтому наложенный платеж для Вас недоступен. Вам нужно уменьшить сумму заказа или воспользоваться иным способом оплаты.</p>

<?elseif($a['type']==4):?>

	<p>Вы проживаете в труднодоступном регионе, в который доставка почтовых отправлений осуществляется авиа-транспортом. Вы можете выбрать доставку почтой, но оплата возможна только по предоплате (через банк, пластиковые карты, электронные деньги или иными способами).</p>

<?elseif($a['type']==5):?>

	<p>Ваш индекс не найден в базе данных индексов Почты России. Поэтому оплата наложенным платежом Вам недоступна. Чтобы получить возможность оплаты наложенным платежом Вам необходимо указать <a href="/profile/">в регистрационных данных</a> правильный индекс. Или связаться с нами для его уточнения.</p>

<?elseif($a['type']==6):?>

	<p>Вы не указали почтовый индекс. Поэтому оплата наложенным платежом Вам недоступна. Чтобы получить возможность оплаты наложенным платежом Вам необходимо указать <a href="/profile/">в регистрационных данных</a> правильный индекс. Или связаться с нами для его уточнения.</p>

<?elseif($a['type']==7):?>

	<p>Оплата наложенным платежом доступна только зарегистрированным клиентам. Для получения этой возможности Вам надо пройти небольшую регистрацию.</p>
	
<?endif;?>	
