*{margin:0;padding:0;}
ul{list-style:none;}
img{border:0;vertical-align:top;}
.clr{clear:both;display:block;}
a{text-decoration:underline;}
	a:hover{text-decoration:none;}
	
.nomargin{width:1px;height:1px;margin:0;}	

html, body{height:100%;}
body{text-align:center;background:url(/browser/front/i/body.jpg) 50% 0 repeat-x;font-family:Verdana;}

a{color:#3366cc;}

form{}
	form input[type="text"]{outline:none;}

select{display:none;}

#not_footer{position:relative;min-height:100%;}
	#not_footer #not_footer_i{padding-bottom:217px;}
* html #not_footer{height:100%;}
#footer{position:relative;height:179px;margin-top:-179px;}

.iw{width:1020px;margin:0 auto;}
	.iw .iw_2{width:1011px;text-align:left;margin:0 auto;}

#cart_preloader{width:100%;height:100%;position:fixed;z-index:20000;background:url(/browser/front/i/loader.png) 50% 50% no-repeat;display:none;}
#cart_preloader.profile{background:url(/browser/front/i/loader_1.png) 50% 50% no-repeat};

#the_count{display:none;}

#h_stripe{height:35px;}
	#h_stripe #h_stripe_keys{color:#fff;font-size:8px;text-transform:uppercase;float:left;padding:13px 0 0;font-weight:normal;width:580px;overflow:hidden;}
		#h_stripe #h_stripe_keys span{color:#607a7e;padding:0 0 0 16px;}
	#h_stripe #h_stripe_links{padding:6px 0 0 10px;float:left;}
		#h_stripe #h_stripe_links li{display:inline;font-size:11px;padding:0 14px 0 0;}
			#h_stripe #h_stripe_links li a{color:#fff;text-decoration:none;}
				#h_stripe #h_stripe_links li a:hover{text-decoration:underline;}
	#h_stripe #h_stripe_social{float:right;padding:10px 15px 0 0;}
		#h_stripe #h_stripe_social li{float:left;margin:0 0 0 6px;}
			#h_stripe #h_stripe_social li a{background:url(/browser/front/i/spr1.png) 0 -77px no-repeat;width:16px;height:16px;float:left;outline:none;text-decoration:none;}
			#h_stripe #h_stripe_social li.hss_tw a{background-position:-16px -77px;}
			#h_stripe #h_stripe_social li.hss_fb a{background-position:-32px -77px;}
			#h_stripe #h_stripe_social li.hss_rss a{background-position:-48px -77px;}
#h_stripe_border{width:100%;height:1px;background:#fff;opacity:.4;}

#head{}
	#head #logo{float:left;outline:none;text-decoration:none;background:url(/browser/front/i/spr1.png) 0 0 no-repeat;width:342px;height:77px;margin:20px 50px 0 0;}
	
	#head #head_middle{float:left;width:320px;}
	
	#head #form_HeadAuth{padding:15px 0 20px;}
		#head #form_HeadAuth #fha_links{font-size:11px;color:#fff;padding:6px 0 0;}
			#head #form_HeadAuth #fha_links a{color:#fff;}
		#head #form_HeadAuth .fl{float:left;margin:0 15px 0 0;}
			#head #form_HeadAuth .fl label{font-size:11px;color:#fff;padding:0 0 2px;display:block;}
			#head #form_HeadAuth .fl input[type="text"], #head #form_HeadAuth .fl input[type="password"]{padding:0 5px;height:22px;width:105px;border:0;background:#fff;border-radius:2px;outline:none;font-size:11px;color:#333;}
			#head #form_HeadAuth .fl_sbm{margin-right:0;padding:15px 0 0;}
			#head #form_HeadAuth .fl input[type="submit"]{width:52px;height:22px;border:0;cursor:pointer;outline:none;color:#000;font-size:11px;text-align:center;text-decoration:none;background:#d9dcdb;border:1px solid #fff;padding:0 0 1px;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefffe', endColorstr='#c7cac7', GradientType=0 );
			background-image: -webkit-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -webkit-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -moz-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -o-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -ms-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);			
			border-radius:2px;}
			#head #form_HeadAuth .fl input[type="submit"]:hover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cac7', endColorstr='#fefffe', GradientType=0 );
				background-image: -webkit-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
				background-image: -webkit-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
				background-image: -moz-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
				background-image: -o-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
				background-image: linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
				background-image: -ms-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);}

	
	#head #head_user{font-size:11px;color:#fff;padding:15px 0 25px;}
		#head #head_user #head_user_name{line-height:15px;padding:0 0 8px;}
		#head #head_user ul{}
			#head #head_user ul li{display:inline;padding:0 20px 0 0;}
				#head #head_user ul li form{display:inline;}
				#head #head_user ul li a{color:#fff;}
	
	#head #head_cart{}
		#head #head_cart #head_cart_ico{float:left;float:left;width:17px;height:18px;background:url(/browser/front/i/spr1.png) -65px -77px no-repeat;margin:3px 0 0;}
		#head #head_cart #head_cart_content{float:right;width:290px;}
			#head #head_cart #head_cart_content #head_cart_info{float:right;width:200px;color:#fff;font-size:11px;margin:-2px 0 0;}
			#head #head_cart #head_cart_content #head_cart_info.to_middle{margin-top:5px;}
				#head #head_cart #head_cart_content #head_cart_info #head_cart_bill{padding:2px 0 0;}
					#head #head_cart #head_cart_content #head_cart_info #head_cart_bill a{color:#fff;}
			#head #head_cart #head_cart_content #head_cart_go{outline:none;float:left;color:#000;font-size:11px;text-align:center;text-decoration:none;height:17px;padding:4px 6px 0;background:#d9dcdb;border:1px solid #fff;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefffe', endColorstr='#c7cac7', GradientType=0 );
			background-image: -webkit-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -webkit-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -moz-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -o-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);
			background-image: -ms-linear-gradient(top, #fefffe 0%, #ecefed 50%, #c7cac7 100%);			
			border-radius:2px;}
			#head #head_cart #head_cart_content #head_cart_go:hover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7cac7', endColorstr='#fefffe', GradientType=0 );
			background-image: -webkit-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
			background-image: -webkit-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
			background-image: -moz-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
			background-image: -o-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
			background-image: linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);
			background-image: -ms-linear-gradient(top, #c7cac7 0%, #ecefed 50%, #fefffe 100%);}
	
	#head #head_contacts{float:right;padding:15px 0 5px;}
		#head #head_contacts #head_contacts_phone1{color:#fff;font-size:21px;text-align:right;margin:0 0 8px;}
		#head #head_contacts #head_contacts_phone2{text-align:right;font-size:11px;color:#fff;opacity:.8;margin:15px 0 0;}
		#head #head_contacts #head_contacts_hours{position:relative;height:25px;width:255px;float:right;}
			#head #head_contacts #head_contacts_hours #head_contacts_hours_bg{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:.4;border-radius:2px;}
			#head #head_contacts #head_contacts_hours #head_contacts_hours_text{position:absolute;top:0;left:0;font-size:11px;color:#fff;padding:4px 0 0;text-align:center;width:100%;}
	
#main_menu{height:44px;margin:16px 0 0;background:#afafae;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afafae', GradientType=0 );
	background-image: -webkit-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	background-image: linear-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 49%, #dcdcdc 51%, #afafae 100%);
	border-bottom:1px solid #d1d1d1;
	border-radius:2px;
}
	#main_menu ul{float:left;}
		#main_menu ul li{float:left;border-right:1px solid #b5b5b5;}
			#main_menu ul li a{display:block;height:28px;text-decoration:none;color:#231f20;font-size:11px;text-transform:uppercase;text-shadow:#fff 0 1px 1px;padding:16px 10px 0;}
				#main_menu ul li:first-child a{border-radius:2px 0 0 2px;}
				#main_menu ul li a b{float:left;display:none;}
					#main_menu ul li:first-child a b{display:block;width:13px;height:13px;background:url(/browser/front/i/spr1.png) -220px -77px;margin:0 10px 0 0;}
				#main_menu ul li a span{float:left;}
			#main_menu ul li a:hover{color:#808080;}
			#main_menu ul li a:active, #main_menu ul li.active a{color:#808080;background:#acacac;
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#a1a1a1', GradientType=0 );
				background-image: -webkit-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);
				background-image: -webkit-linear-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);
				background-image: -moz-linear-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);
				background-image: -o-linear-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);
				background-image: linear-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);
				background-image: -ms-linear-gradient(top, #e4e4e4 0%, #dfdfdf 49%, #cfcfcf 51%, #a1a1a1 100%);			
			}
			#main_menu ul li.first a{border-radius:2px 0 0 2px;}
	#main_menu #main_menu_srch{float:right;border-radius:0 2px 2px 0;background:#aaaaaa;width:219px;height:44px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#a8a8a8', GradientType=0 );
		background-image: -webkit-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);
		background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);
		background-image: -moz-linear-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);
		background-image: -o-linear-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);
		background-image: linear-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);
		background-image: -ms-linear-gradient(top, #e2e2e2 0%, #bdbdbd 50%, #a8a8a8 100%);	
	}
		#main_menu #main_menu_srch input{width:173px;height:26px;padding:0 10px 0 14px;border:0;margin:9px 0 0 11px;font-size:12px;font-family:Verdana;color:#ccc;background:#fff;
			-moz-box-shadow:inset 1px 1px 2px #999;
			-webkit-box-shadow:inset 1px 1px 2px #999;
			box-shadow:inset 1px 1px 2px #999;	
			border-radius:2px;		
		}

#main{margin:9px 0 0;}
	#main #main_l{background:url(/browser/front/i/main_l.png) 0 0 no-repeat;padding:0 0 0 5px;}
		#main #main_l #main_r{background:url(/browser/front/i/main_r.png) 100% 0 no-repeat;padding:0 5px 0 0;}
			#main #main_l #main_r #main_i{background:url(/browser/front/i/main_i.png) 0 0 repeat-x;padding:24px 21px 0 18px;}
	#main #sidebar{width:225px;float:left;}
	#main #content{width:707px;float:right;}

#footer_i{height:179px;padding:0 20px 0 43px;border-radius:2px 2px 0 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#212121', GradientType=0 );
	background-image: -webkit-gradient(top, #686868 0%, #444444 50%, #212121 100%);
	background-image: -webkit-linear-gradient(top, #686868 0%, #444444 50%, #212121 100%);
	background-image: -moz-linear-gradient(top, #686868 0%, #444444 50%, #212121 100%);
	background-image: -o-linear-gradient(top, #686868 0%, #444444 50%, #212121 100%);
	background-image: linear-gradient(top, #686868 0%, #444444 50%, #212121 100%);
	background-image: -ms-linear-gradient(top, #686868 0%, #444444 50%, #212121 100%);
}
	#footer_i #footer_copy{color:#b2b2b2;font-size:11px;border-bottom:1px dotted #999;padding:21px 0 16px;}
	#footer_i #footer_menu{padding:14px 0 0;}
		#footer_i #footer_menu li{display:inline;font-size:12px;margin:0 14px 0 0;}
			#footer_i #footer_menu li a{color:#fff;}
	#footer_i #footer_contact{font-size:11px;color:#b2b2b2;padding:18px 0 0;}
		#footer_i #footer_contact li{padding:0 0 4px;}
			#footer_i #footer_contact li a{color:#b2b2b2;}

h1.second_style, h2.second_style{color:#e38a25;font-size:19px;font-weight:normal;padding:0 0 22px;}

.s_grower_select{padding:0 0 19px;}
	.s_grower_select select{width:225px;}

.sb_catalog_block{border:1px solid #c8c8c8;margin:0 0 20px;}
	.sb_catalog_block .sb_catalog_block_h{background:#f0f0f0;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f2f2f2', GradientType=1 );
			background-image: -webkit-gradient(left, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);
			background-image: -webkit-linear-gradient(left, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);
			background-image: -moz-linear-gradient(right, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);
			background-image: -o-linear-gradient(right, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);
			background-image: linear-gradient(to right, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);
			background-image: -ms-linear-gradient(right, #f0f0f0 0%, #fcfcfc 50%, #f2f2f2 100%);	
		}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i{color:#e38a25;font-family:Arial;font-size:14px;font-weight:bold;padding:10px 10px 9px 14px;cursor:pointer;border-bottom:1px solid #dbdbdb;}
			.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i span{float:left;}
			.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i b{float:right;width:7px;height:4px;background:url(/browser/front/i/spr1.png) 0 0 no-repeat;margin:6px 0 0;}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i.block_opened b{background-position:-156px -94px;}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i.block_closed b{background-position:-156px -98px;}
		.sb_catalog_block .sb_catalog_block_h .sb_catalog_block_h_i.block_closed{border-bottom:0;}
	.sb_catalog_block .sb_catalog_block_i{padding:11px 18px 0;}
		.sb_catalog_block .sb_catalog_block_i .sb_catalog_line{border-bottom:1px dotted #b2b2b2;padding:4px 0 7px;}
			.sb_catalog_block .sb_catalog_block_i .sb_catalog_line a{font-size:12px;color:#333;text-decoration:none;}
				.sb_catalog_block .sb_catalog_block_i .sb_catalog_line a:hover{text-decoration:underline;}
			.sb_catalog_block .sb_catalog_block_i .sb_catalog_line span{font-size:11px;color:#ccc;}
		.sb_catalog_block .sb_catalog_block_i .sb_catalog_line.last{border-bottom:none;padding-bottom:18px;}
.sb_catalog_block.last{margin-bottom:45px;}

.s_block_1{}
	.s_block_1 .s_block_1_h{font-size:19px;color:#e38a25;padding:0 0 15px;}
.s_block_1.s_payment{margin:0 0 40px;}
	.s_block_1.s_payment .s_block_1_i{width:221px;height:94px;background:url(/browser/front/i/spr1.png) 0 -109px no-repeat;}

#crumbs{font-size:11px;line-height:16px;color:#ccc;border-bottom:1px dotted #b2b2b2;margin:0 0 20px;padding:0 0 7px;height:14px;overflow:hidden;}
	#crumbs li{padding:0 6px 0 0;display:inline;}
		#crumbs li a{text-decoration:none;}
			#crumbs li a:hover{text-decoration:underline;}
	#crumbs li.divider{}

#social_stripe{background:#FBF1D3;padding:5px 5px 4px 15px;margin:25px 0 0;}
	#social_stripe .yashare_label{float:left;font-size:12px;font-weight:bold;color:#333;padding:7px 10px 0 0;}

.texted{font-size:12px;color:#333;line-height:17px;}
	.texted h1{color:#e38a25;font-size:24px;line-height:25px;font-weight:normal;padding:0 0 17px;}
	.texted h2{color:#e38a25;font-size:19px;line-height:25px;font-weight:normal;padding:0 0 17px;}
	.texted h3{color:#e38a25;font-size:15px;line-height:20px;padding:5px 0 17px;}
	.texted p{padding:0 0 10px;}
	.texted ul{padding:0 0 10px 18px;}
		.texted ul li{padding:0 0 10px 0;list-style:outside disc;color:#e38a25;font-size:14px;}
			.texted ul li .texted_li_gray{color:#333;font-size:12px;}
		.texted ul li:last-child{padding-bottom:0;}
	.texted ol{}
		.texted ol>li{padding:0 0 10px;margin:0 0 0 18px;}
			.texted ol>li ul{padding-top:7px;padding-bottom:0;}		
			.texted ol>li ol{padding-top:7px;padding-bottom:0;}		
	.texted .texted_hint{background:#fbf1d3;border-radius:2px;margin:0 0 30px;padding:13px 33px 9px 15px;}
		.texted .texted_hint h2{color:#e38a25;font-size:14px;font-weight:normal;padding:0;margin:0 0 9px;}

.goods_content_block{width:170px;border:1px solid #eee;padding:10px 15px;float:right;margin:0 0 15px 20px;}
	.goods_content_block .gcb_text{font-size:11px;}
	.goods_content_block.text_center .gcb_text{text-align:center;}
	.goods_content_block .gcb_goods{padding:10px 0;text-align:center;}
		.goods_content_block .gcb_goods .gcb_goods_image{}
		.goods_content_block .gcb_goods .gcb_goods_name{font-size:12px;padding:9px 0 0;}
.goods_content_block.l{float:left;margin:0 20px 15px 0;}

.right300{float:right;width:300px;margin:0 0 15px 15px;}
.left300{float:left;width:300px;margin:0 15px 15px 0;}

.table_one{width:100%;}
	.table_one tr{}
		.table_one p{margin:0;padding:0;}
		.table_one tr td, .table_one tr th{padding:10px;}
		.table_one tr th{background:#d8d8d8;}
		.table_one tr td{color:#333;}
		.table_one tr:nth-child(2n+1) td{background:#f4f4f4;}

.the_quote{font-size:11px;color:#666;border:1px solid #ccc;border-radius:5px;margin:10px 0 15px;padding:5px 10px !important;}

#pagination{text-align:center;font-family:Arial;font-size:12px;padding:40px 0 0;color:#999;}
	#pagination li{display:inline;margin:0 2px;}
		#pagination li a{border:1px solid #e8e8e8;text-decoration:none;color:#5b5b5b;padding:5px 8px;border-radius:5px;}
	#pagination li.active a, #pagination li a:hover{background:#e6e6e6;border:1px solid #bbbbbb;color:#333;}
	#pagination li.active a, #pagination li a:hover{
		-moz-box-shadow:1px 1px 1px #eee;
		-webkit-box-shadow:1px 1px 1px #eee;
		box-shadow:1px 1px 1px #eee;
	}
	#pagination li a:active{
		background:#e6e6e6;border:1px solid #bbbbbb;color:#333;
		-moz-box-shadow:inset 1px 1px 1px #9f9f9f;
		-webkit-box-shadow:inset 1px 1px 1px #9f9f9f;
		box-shadow:inset 1px 1px 1px #9f9f9f;
	}

.level_item{float:left;width:160px;margin:0 22px 29px 0;}
	.level_item .li_img{border:1px solid #c8c8c8;}
		.level_item .li_img .li_img_i{width:144px;height:144px;padding:7px;}
			.level_item .li_img .li_img_i a{}
				.level_item .li_img .li_img_i a img{width:100%;height:100%;}
	.level_item .li_lnk{font-size:11px;color:#ccc;padding:9px 0 0;}
		.level_item .li_lnk a{font-size:12px;}
.level_item.r{float:right;margin-right:1px;}

.goods_noimg{width:100px;height:100px;background:url(/browser/front/i/spr1.png) -221px -103px;margin:11px auto;display:block;}

.news_item{padding:0 0 25px;}
	.news_item .news_avatar{float:left;width:50px;height:50px;overflow:hidden;}
	.news_item .news_text{float:right;width:640px;}
		.news_item .news_date{font-size:11px;color:#b2b2b2;padding:0 0 5px;}
		.news_item .news_lnk{font-size:12px;line-height:16px;}
	.news_item .news_introtext{font-size:11px;line-height:14px;color:#666;padding:8px 0 0;}
.news_item.no_avatar{}
	.news_item.no_avatar .news_text{width:100%;float:none;}

#news_page{}
	#news_page #news_date{font-size:11px;color:#b2b2b2;padding:0 0 4px;}
#news_prev_next{font-size:11px;margin:20px 0 0;}
	#news_prev_next .npn{float:left;width:300px;line-height:16px;}
		#news_prev_next .npn span{display:block;font-weight:bold;color:#333;margin:0 0 8px;}
	#news_prev_next .npn#news_next{float:right;text-align:right;}

#growers_catalog{}
	#growers_catalog .grower_item{width:143px;height:92px;float:left;margin:0 45px 45px 0;}
		#growers_catalog .grower_item a{width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;display:block;}
	#growers_catalog .grower_item.r{margin-right:0;float:right;}

#form_Contacts{padding:34px 0 0;}
	#form_Contacts h2{color:#e38a25;font-size:14px;font-weight:normal;padding:0 0 11px;}
	#form_Contacts #fc_succ{font-size:18px;color:#666;font-family:Verdana;text-align:center;background:#fbf1d3 url(/browser/front/i/fc_succ.png) 84px 50% no-repeat;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;padding:17px 0;margin:0 0 18px;}
	#form_Contacts #fc_inner{background:#f2f2f2;border:1px solid #c8c8c8;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;padding:19px 19px 0;}
		#form_Contacts #fc_inner label{font-size:12px;display:block;padding:0 0 6px;}
		#form_Contacts #fc_inner select{width:330px;}
		#form_Contacts #fc_inner input[type="text"]{width:300px;}
		#form_Contacts #fc_inner input[type="submit"]{border:1px solid #F49900;height:28px;font-size:12px;color:#fff;font-family:Verdana;cursor:pointer;padding:0 11px 1px;background:#eab000;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcc3e', endColorstr='#ed9d00', GradientType=0 );
		background-image: -webkit-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -webkit-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -moz-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -o-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -ms-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		}
		#form_Contacts #fc_inner .fc_line{padding:0 0 11px;}
		#form_Contacts #fc_inner .fc_line.sbm{padding:6px 0 25px;}
		#form_Contacts #fc_inner .txt_fld input[type="text"]{border:1px solid #c8c8c8;background:#fff;height:23px;color:#333;font-size:11px;font-family:Verdana;padding:0 5px;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;width:318px;}
		#form_Contacts #fc_inner textarea{border:1px solid #c8c8c8;background:#fff;color:#333;font-size:11px;font-family:Verdana;padding:5px;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;width:318px;resize:none;height:119px;outline:none;}
		#form_Contacts input[name="emailconfirm"]{display:none;}

#sitemap_list{}
	#sitemap_list ul{padding:0 0 0 25px;}

#prices_link{margin:14px 0 0;}
	#prices_link #prices_link_ico{float:left;width:27px;height:32px;background:url(/browser/front/i/spr1.png) -99px -77px;margin:0 15px 0 0;}
	#prices_link #prices_link_text{float:left;}
	#prices_link #pl_a{font-size:12px;padding:0 0 6px;}
	#prices_link #pl_info{font-size:11px;color:#999;}

.article_item{font-size:12px;padding:0 0 14px;}
	.article_item h2{padding-top:20px;}
	.article_item .article_item_letter{padding:0 0 6px;font-size:13px;color:#E38A25;font-weight:bold;}

.photogallery_item{float:left;width:160px;margin:0 22px 29px 0;}
	.photogallery_item .li_img{border:1px solid #c8c8c8;}
		.photogallery_item .li_img .li_img_i{width:144px;height:144px;padding:7px;}
			.photogallery_item .li_img .li_img_i a{}
				.photogallery_item .li_img .li_img_i a img{width:100%;height:100%;}
	.photogallery_item .li_lnk{font-size:11px;color:#ccc;padding:9px 0 0;}
		.photogallery_item .li_lnk a{font-size:12px;}
.photogallery_item.r{float:right;margin-right:1px;}

#search_page{}
	#search_page h2{font-size:14px;font-weight:bold;padding:0 0 8px;}
		#search_page h2 span{font-size:11px;font-weight:normal;color:#999;margin:0 0 0 7px;}
	#search_page .search_result{font-size:11px;padding:0 0 6px;}
	#search_page .search_result.last{padding-bottom:20px;}

.g_order_ostatok_zero{display:none;opacity:0;background:#fff;width:112px;height:32px;position:absolute;color:#333;font-size:11px;text-align:center;left:-1px;top:-1px;padding:7px 5px 1px;}

.uses_table{border-collapse:collapse;width:100%;}
	.uses_table td{border:1px solid #000;text-align:center;}

.page_article{padding:0 0 20px;}
	.page_article .page_article_img{float:left;width:66px;}
	.page_article .page_article_txt{float:right;width:620px;}
		.page_article .page_article_txt .page_article_h{font-size:14px;padding:0 0 10px;}
			.page_article .page_article_txt .page_article_h a{color:#3366cc;}
				.page_article .page_article_txt .page_article_h a:hover{}

.articles_container{}
.articles_container.doubled{}
	.articles_container.doubled .page_article{width:340px;float:left;}
		.articles_container.doubled .page_article .page_article_txt{width:260px;}
	.articles_container.doubled .page_article.even{float:right;}
.articles_container.with_last{}
	.articles_container.with_last .page_article{width:340px;float:left;}
		.articles_container.with_last .page_article .page_article_txt{width:260px;}
	.articles_container.with_last .page_article.even{float:right;}
	.articles_container.with_last .page_article.last{width:100%;}
		.articles_container.with_last .page_article.last .page_article_txt{width:620px;}

.typical_page{position:relative;}
	.typical_page #typical_share{position:absolute;top:-47px;right:0;background:#fff;padding:0 0 0 15px;}
	
.zip_code_data{}
	.zip_code_data h2{font-size:18px;color:#e38a25;font-weight:normal;padding:0 0 14px;}
	.zip_code_data .zcd_err{padding:0 0 15px;}
	.zip_code_data .zcd_i{background:#fbf1d3;-moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;padding:19px 24px 9px;font-size:12px;color:#333233;line-height:17px;}
	.zip_code_data .zcd_0{padding:0 0 15px;}
	.zip_code_data .zcd_1{border-bottom:1px dotted #999;padding:0 0 15px;}
	.zip_code_data .zcd_2{font-weight:bold;padding:21px 0 37px;}
	.zip_code_data .zcd_3{padding:0 0 15px;}
		.zip_code_data .zcd_3 .zcd_3_h{font-size:14px;color:#e38a25;padding:0 0 13px;}
		.zip_code_data .zcd_3 .zcd_3_item{padding:0 0 16px;}
			.zip_code_data .zcd_3 .zcd_3_item .zcd_3_label{float:left;width:95px;font-weight:bold;}
			.zip_code_data .zcd_3 .zcd_3_item .zcd_3_data{float:right;width:555px;}	
	
#form_RobocassaGo{}		
	#form_RobocassaGo .fl_sbm{text-align:center;padding:30px 0 0;}		
		#form_RobocassaGo .fl_sbm input{text-decoration:none;outline:none;border:1px solid #F49900;height:26px;font-size:12px;color:#fff;font-family:Verdana;cursor:pointer;padding:0 18px;background:#eab000;margin:0 0 0 20px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcc3e', endColorstr='#ed9d00', GradientType=0 );
		background-image: -webkit-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -webkit-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -moz-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -o-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);
		background-image: -ms-linear-gradient(top, #efcc3e 0%, #eab500 50%, #ed9d00 100%);}	