{{crumbs}}

<div id="order_main">

	<form id="form_CartProceed" method="POST" action="/order/go/">

		<h2>Оформление заказа</h2>
			
		<div id="order_goods">	
			
			{{table}}
			
			{{coupon}}
			
			<div id="order_goods_values_container">
				{{values}}
			</div>	
			
			<div id="order_goods_gift_container">
				{{gift}}	
			</div>
		
		</div>
		
		<div id="order_form_stripe">
			<div id="ofs_proceed">
				<input type="submit" value="Продолжить">
			</div>
			<div class="clr"></div>	
		</div>	
	
	</form>
		
</div>