<p>Деньги за Ваш заказ № <strong><?=$a['num'];?></strong>, оплаченный через систему Робокасса, в сумме <strong><?=$a['order_sum'];?> руб.</strong> поступили.</p>

<?=$a['message'];?>

<p>С уважением, Бодибилдинг-Магазин <a href="http://www.bodybuilding-shop.ru">www.bodybuilding-shop.ru</a></p>