<?if($a==2):?>

	<p>При оформлении заказа Вам будет предложена готовая к оплате в Сберкассе квитанция, которую достаточно будет только распечатать. Вы можете так же оплатить ее в любом коммерческом банке или со своего расчетного счета, а так же через систему банк-клиент.</p>
	
<?elseif($a==3):?>	
	
	<p>Оплата заказа через электронные деньги WebMoney и Яндекс-деньги. После оформления заказа Вам будут даны номера кошельков для перевода денег.</p>

<?elseif($a==4):?>	
	
	<p>Мгновенная оплата заказа через банковские пластиковые карты.</p> 
	<p>Оплата происходит через систему электронных платежей ROBOKASSA. За свои услуги данная система может взимать комиссию, размер которой зависит от суммы платежа и способа оплаты.</p>
	
<?endif;?>