<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<title><?=$this->registry['longtitle'];?></title>

		<?$this->registry['template']->F_meta_tags();?>

		<meta name = "viewport" content = "width = 1020" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		
		<link rel="icon" href="<?=$this->registry['template']->front_path;?>i/favicon.ico" type="image/x-icon" />
		
		{{css}}
	</head>
	
	<body>
	<noscript><link property="stylesheet" rel="stylesheet" href="/browser/front/css/noscript.css" type="text/css"></noscript>
	<!--[if IE 6]>
		<div id="ie6_alert"><div class="iw"><div class="iw_2">
			<div id="ie6_alert_i">
			<b>Внимание!</b> Вы используете устаревший браузер Internet Explorer 6. Для работы с сайтом, пожалуйста, воспользуйтесь современным браузером.
			</div>
		</div></div></div>
	<![endif]-->
	<div id="not_ie6">

		<div id="cart_preloader"></div>

		<input type="hidden" name="this_page_url" value="<?=htmlspecialchars(json_encode(explode('/',trim($_SERVER['REQUEST_URI'],'/'))));?>">

		<div id="not_footer"><div id="not_footer_i">

			<noscript>
				<div id="noscript_alert"><div class="iw"><div class="iw_2">
					<div id="noscript_alert_i">
					<b>Внимание!</b> В вашем браузере отключен Javascript, доступ к функционалу сайта ограничен. <a href="/how-to-enable-javascript/">Как включить Javascript »</a>
					</div>
				</div></div></div>
			</noscript>

			<div id="h_stripe"><div class="iw"><div class="iw_2">
				<div id="h_stripe_keys">
					Интернет-магазин  <span>федерации бодибилдинга и фитнеса России</span>
				</div>
				<ul id="h_stripe_links">
					<li><a href="/certificates/">Сертификаты</a></li>
					<li><a href="/prices/">Прайсы</a></li>
					<li><a href="/sitemap/">Карта сайта</a></li>
					<li><!--noindex--><a href="http://forum.bodybuilding-shop.ru/" rel="nofollow">Форум</a><!--/noindex--></li>
				</ul>
				<ul id="h_stripe_social"><!--noindex-->
					<li class="hss_vk"><a href="<?=VK_LINK;?>" target="_blank"></a></li>
					<li class="hss_tw"><a href="<?=TW_LINK;?>" target="_blank"></a></li>
					<li class="hss_fb"><a href="<?=FB_LINK;?>" target="_blank"></a></li>
					<li class="hss_rss"><a href="/rss.xml"></a></li>
				<!--/noindex--></ul>
				<div class="clr"></div>
			</div></div></div>
			<div id="h_stripe_border"></div>

			<div class="iw"><div class="iw_2">

				<div id="head">
					<a id="logo" href="/"></a>

					<div id="head_middle">
					
						<?if(isset($_SESSION['user_id'])):
							require($this->registry['template']->TF.'auth/authed.html');
						else:
							require($this->registry['template']->TF.'auth/not_authed.html');
						endif;?>					
					
						<div id="head_cart">
							<div id="head_cart_ico"></div>
							<div id="head_cart_content"></div>
							<div class="clr"></div>
						</div>
					</div>

					<div id="head_contacts">
						<div id="head_contacts_phone1">+7(812) <b>948-57-25</b></div>
						<div id="head_contacts_hours">
							<div id="head_contacts_hours_bg"></div>
							<div id="head_contacts_hours_text">
								Пн.-Пт.: 11<sup>00</sup> - 20<sup>00</sup> Сб.-Вс.: 11<sup>00</sup> - 16<sup>00</sup>
							</div>
						</div>
						<div class="clr"></div>
						<div id="head_contacts_phone2">
							Информация по заказам: +7(950) 22-090-22
						</div>
					</div>

					<div class="clr"></div>
				</div>

				<div id="main_menu">
					{{main_menu}}

					<div id="main_menu_srch">
						<form onsubmit="" id="form_headSrch" action="/search/" method="GET">
							<input type="text" name="q" value="Поиск" onfocus="this.value=(this.value=='Поиск')? '' : this.value;" onblur="this.value=(this.value=='')? 'Поиск' : this.value;">
						</form>
					</div>
					<div class="clr"></div>
				</div>

				<div id="main">
					<div id="main_l">
						<div id="main_r">
							<div id="main_i">

								{{module}}

								<div id="sidebar">

									<div class="s_grower_select">
										<select id="goto_grower">
											{{sidebar_growers}}
										</select>
									</div>

									<div class="s_grower_select">
										<select id="goto_faq">
											{{sidebar_faq}}
										</select>
									</div>

									<?$this->registry['template']->F_sb_catalog();?>

									<div class="s_block_1 s_payment">
										<div class="s_block_1_h">Мы принимаем оплату</div>
										<div class="s_block_1_i">

										</div>
									</div>

								</div>

								<div id="content">

									<?$this->F_crumbs();?>

									<?$this->content();?>

								</div>
								<div class="clr"></div>
							</div>
						</div>
					</div>
				</div>

			</div></div>

		</div></div>

		<div id="footer">
			<div class="iw"><div class="iw_2">
				<div id="footer_i">

					<div id="footer_copy">Copyright 2000-<?=date('Y');?> &copy; Федерация Бодибилдинга и Фитнеса России</div>

					<ul id="footer_menu">
						<li><a href="/">Главная</a></li>
						<li><a href="/about/">О магазине</a></li>
						<li><a href="/why-us/">Почему мы</a></li>
						<li><a href="/help/">Как сделать заказ</a></li>
						<li><a href="/prices/">Прайсы</a></li>
						<li><a href="/news/">Новости</a></li>
						<li><a href="/certificates/">Сертификаты</a></li>
						<li><!--noindex--><a href="http://forum.bodybuilding-shop.ru/" rel="nofollow">Форум</a><!--/noindex--></li>
						<li><a href="/contacts/">Контакты</a></li>
					</ul>

					<ul id="footer_contact">
						<li>198260, Санкт-Петербург, бул. Новаторов, 98.</li>
						<li>Информация по заказам: (950) 22-090-22</li>
					</ul>

				</div>
			</div></div>
		</div>

		<?if(!$this->registry['config']['hide_counters']):?>

			<!--noindex-->
				<!-- Yandex.Metrika counter -->
				<script type="text/javascript">
				(function (d, w, c) {
				    (w[c] = w[c] || []).push(function() {
				        try {
				            w.yaCounter93598 = new Ya.Metrika({id:93598,
				                    webvisor:true,
				                    clickmap:true,
				                    trackLinks:true});
				        } catch(e) { }
				    });
				
				    var n = d.getElementsByTagName("script")[0],
				        s = d.createElement("script"),
				        f = function () { n.parentNode.insertBefore(s, n); };
				    s.type = "text/javascript";
				    s.async = true;
				    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
				
				    if (w.opera == "[object Opera]") {
				        d.addEventListener("DOMContentLoaded", f, false);
				    } else { f(); }
				})(document, window, "yandex_metrika_callbacks");
				</script>
				<noscript><div><img src="//mc.yandex.ru/watch/93598" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
				<!-- /Yandex.Metrika counter -->
	
				<script type="text/javascript">
	
				  var _gaq = _gaq || [];
				  _gaq.push(['_setAccount', 'UA-34857547-1']);
				  _gaq.push(['_trackPageview']);
	
				  (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				  })();
	
				</script>
	
			<!--/noindex-->

		<?endif;?>

	</div>
	
	<input type="hidden" id="this_page_url" value="{{this_page_url}}">
	
	{{js}}
		
	</body>
		
</html>